<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{title}}</title>

      <!-- ~~~=| Fonts files |==-->
      <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900,700italic,400italic,300italic,100' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,700,700italic,900' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">

      <!-- ~~~=| Font awesome |==-->
      <link rel="stylesheet" href="/stylesheets/fontawesome-all.css">

      <!-- ~~~=| Bootstrap css |==-->
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

      <!-- ~~~=| Theme files |==-->
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="/stylesheets/responsive.css">
      <link rel="stylesheet" href="/stylesheets/newStyle.css">
      <link rel="stylesheet" href="/stylesheets/animate.css">
      <link rel="stylesheet" href="/stylesheets/util.css">

      <!-- Favicons -->
      <!--<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png">-->
  </head>
  <body>

    <header>
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="header_top_left">
                            <div class="news_twiks">
                                <h4>Breaking</h4>
                            </div>
                            <div class="news_twiks_items">
                                <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <p>Take Interior Design to a New Level</p>
                                        </div>
                                        <div class="carousel-item">
                                            <p>Take Interior Design to a New Level two</p>
                                        </div>
                                        <div class="carousel-item">
                                            <p>Take Interior Design to a New Level three</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="header_top_right">

                            <div class="social_header">
                                <ul>
                                    {{#if user}}
                                        <li class="dropdown">
                                            <button id="profil_user" type="button" class="btn btn-outline-primary btn-sm fs-15 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;"><strong class="text-black mr-1">Bienvenue</strong>   {{user.local.pseudo}}</button>
                                            <div class="dropdown-menu" aria-labelledby="profil_user">
                                                <a class="dropdown-item" style="color:#B61D8D !important;" href="/users/logout"><i class="fas fa-power-off mr-2"></i>Deconnexion</a>
                                            </div>
                                        </li>
                                    {{else}}
                                        <li><a id="auser_login" href="#user_login" data-toggle="modal" style="font-size:12px;">Connexion /</a></li>
                                        <li><a id="auser_register" href="#user_register" data-toggle="modal" style="font-size:12px; margin-left:-1.4rem;">Inscription</a></li>
                                    {{/if}}
                                    <li><a class="fab fa-facebook-f" href="#"></a></li>
                                    <li><a class="fab fa-twitter" href="#"></a></li>
                                    <li><a class="fab fa-google-plus" href="#"></a></li>
                                    <li><a class="fab fa-linkedin" href="#"></a></li>
                                    <li><a class="fab fa-behance" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="header_search_box">
                                <form class="header_search hidden-xs" action="http://premiumlayers.net/demo/html/hash/index.html">
                                    <input type="text" placeholder="Search">
                                    <input type="submit" value="">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ~~~=| Logo Area START |=~~~ -->
        <div class="header_logo_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12" style="margin-top: -2rem;">
                        <div class="logo js-tilt" data-tilt> <a href="/"><img src="/images/pro_logotype.png" alt="Site Logo"/></a> </div>
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-12">
                        <div class="header_add">
                            <a href="#"><img src="/images/ht-add.jpg" alt="Site add"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ~~~=| Logo Area END |=~~~ -->

        <!-- ~~~=| Main Navigation START |=~~~ -->
        <div class="mainnav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="d-flex justify-content-center">
                            <nav class="main_nav_box">
                                <ul id="nav">
                                    <li class="nav_news wow slideInDown"><a href="#">Acceuil</a>
                                        <div class="mega_menu" style="width: 1337px;height: auto;">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="single_mega">
                                                            <ul>
                                                                <li><a href="/">Home</a></li>
                                                                <li><a href="/typearticle/LifeStyle">LifeStyle</a></li>
                                                                <li><a href="/typearticle/Edito">Edito</a></li>
                                                                <li class="active"><a href="/typearticle/Super Ambitieux">SuperAmbitieux</a></li>
                                                                <li><a href="#">Love & Relations</a></li>
                                                                <li><a href="#">Le Billet SAG</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="single_mega single_mega2">
                                                            <div class="single_fs_news_left_text">
                                                                <div class="fs_news_left_img"> <img alt="" src="/images/amour1.jpg">
                                                                    <div class="br_cam br_vid_big_s"> <a href="#" class="fa fa-camera"></a> </div>
                                                                </div>
                                                                <h4><a class="mega_title" href="#">beautiful day in this neighborhood a beauty day for a neighbor</a></h4>
                                                                <p> <i class="fab fa-clock"></i> 3 min ago <i class="fa fa-comment"></i> 19 </p>
                                                            </div>
                                                        </div>
                                                        <div class="single_mega single_mega3">
                                                            <div class="all_news_right">
                                                                <div class="fs_news_right">
                                                                    <div class="single_fs_news_img"> <img alt="Single News" src="/images/amour1.jpg"> </div>
                                                                    <div class="single_fs_news_right_text">
                                                                        <h4><a class="mega_title1" href="#">Can you tell me how to get how to get to Sesame Street.</a></h4>
                                                                        <p> <i class="fab fa-clock"></i> 1 hour ago </p>
                                                                    </div>
                                                                </div>
                                                                <div class="fs_news_right">
                                                                    <div class="single_fs_news_img"> <img alt="Single News" src="/images/amour1.jpg"> </div>
                                                                    <div class="single_fs_news_right_text">
                                                                        <h4><a class="mega_title1" href="#">young loner on a crusade to cham pion the cause of the innocent</a></h4>
                                                                        <p> <i class="fab fa-clock"></i> 1 hour ago </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav_lifeguide wow slideInDown" data-wow-delay="0.3s">
                                        <a href="/typearticle/Super Ambitieux">Super Ambitieux</a>
                                        <div class="sub_menu sub_menu_p single_mega">
                                            <ul>
                                                <li style="cursor: pointer;"> <a href="/typearticle/Empowering">Empowering Time</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav_gadgets wow slideInDown" data-wow-delay="0.6s"><a href="/typearticle/LifeStyle">LifeStyle</a></li>
                                    <li class="nav_news wow slideInDown" data-wow-delay="0.9s" ><a href="/typearticle/Love & RelationShip">Love & Relations</a></li>
                                    <li class="nav_lifeguide wow slideInDown" data-wow-delay="1.2s"><a href="/typearticle/Edito">Edito</a></li>
                                    <li class="nav_gadgets wow slideInDown" data-wow-delay="1.5s"><a href="#">Le Billet SAG</a></li>
                                    <li class="nav_news wow slideInDown" data-wow-delay="1.8s">
                                        <a href="#">About Us</a>
                                        <div class="sub_menu sub_menu_p single_mega">
                                            <ul>
                                                <li style="cursor: pointer"> <a href="/aboutUs">Our Team</a></li>
                                                <li style="cursor: pointer"> <a href="/contactUs">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <!-- ~~~=| Mobile Navigation END |=~~~ -->
                        <div class="only-for-mobile">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ul class="ofm">
                                    <li class="m_nav"><i class="fa fa-bars"></i> Super Ambition Girls</li>
                                </ul>

                                <!-- MOBILE MENU -->
                                <div class="mobi-menu">
                                    <div id='cssmenu'>
                                        <ul>
                                            <li> <a href='/'><span>Acceuil</span></a>
                                            </li>
                                            <li class='has-sub'> <a href='/typearticle/Super Ambitieux'><span>SuperAmbitieux</span></a>
                                                <ul class="sub-nav">
                                                    <li><a href="/typearticle/Empowering"><span>Empowering</span></a></li>
                                                </ul>
                                            </li>
                                            <li> <a href='/typearticle/LifeStyle'><span>LifeStyle</span></a> </li>
                                            <li> <a href='/typearticle/Love & RelationShip'><span>Love & Relations</span></a> </li>
                                            <li> <a href='/typearticle/Edito'><span>Edito</span></a>
                                            </li>
                                            <li> <a href='#'><span>Le Billet SAG</span></a> </li>
                                            <li class="has-sub">
                                                <a href='#'><span>About Us</span></a>
                                                <ul class="sub-nav">
                                                    <li><a href="/aboutUs">Our Team</a></li>
                                                    <li><a href="/contactUs">Contact Us</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ~~~=| Mobile Navigation START |=~~~ -->

                    </div>
                </div>
            </div>
        </div>
        <!-- ~~~=| Main Navigation END |=~~~ -->

    </header>

    {{{body}}}

    <footer class="footer_area">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer_top_box">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="footer_top_left">
                                        <div class="js-tilt" data-tilt>
                                            <img src="/images/logo3.png" alt="Footer Logo" />
                                        </div>
                                        <p>Vous Souhaitez grandir et épanouir dans votre domaine, vous souhaitez exploiter, vous ressourcer, exploiter votre potentiel et entreprendre, #SAG est pour vous...</p>
                                        <div class="ft_contact">
                                            <h4>Contact</h4>
                                            <address>
                                                <p> <i class="fa fa-map-marker"></i>Washington Square Park, New York, NY, United States</p>
                                                <p ><i class="fa fa-phone"></i>Telephone : +1 000 123 54657</p><br>
                                                <p ><i class="fa fa-phone"></i> E-mail : Info@News.com</p>
                                            </address>
                                        </div>
                                        <div class="ft_connected">
                                            <h4>Stay connected</h4>
                                            <p>Suivez nous sur les réseaux sociaux et restez informer de chaque mise à jour</p>
                                            <ul>
                                                <li><a class="fab fa-facebook-f" href="#"></a></li>
                                                <li><a class="fab fa-twitter" href="#"></a></li>
                                                <li><a class="fab fa-google-plus" href="#"></a></li>
                                                <li><a class="fab fa-linkedin" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="footer_top_middle">
                                        <div class="ftm_realted_post">
                                            <h4>Navigation</h4>
                                            <div class="single_related_post">
                                                <div class="srp_img"> <a href="blog-single-slider-post.html"> <img src="/images/logo3.jpeg" alt="" /> </a> </div>
                                                <div class="rel_post_text"> <h5><a>Acceuil</a></h5>
                                                    <p> #SAG, Ambition & Innovation</p>
                                                </div>
                                            </div>
                                            <div class="single_related_post">
                                                <div class="srp_img"> <a href="blog-single-slider-post.html"> <img src="/images/blogggg.jpg" alt="" /> </a> </div>
                                                <div class="rel_post_text"> <h5><a>Super Ambitieux</a></h5>
                                                    <p>Votre ambition n'a pas de limite</p>
                                                </div>
                                            </div>
                                            <div class="single_related_post">
                                                <div class="srp_img"> <a href="blog-single-slider-post.html"> <img src="/images/blogggg.jpg" alt="" /> </a> </div>
                                                <div class="rel_post_text"> <h5><a>Edito</a></h5>
                                                    <p>Votre ambition n'a pas de limite</p>
                                                </div>
                                            </div>
                                            <div class="single_related_post">
                                                <div class="srp_img"> <a href="blog-single-slider-post.html"> <img src="images/blogggg.jpg" alt="" /> </a> </div>
                                                <div class="rel_post_text"> <h5><a>Love & Relation</a></h5>
                                                    <p>Votre ambition n'a pas de limite</p>
                                                </div>
                                            </div>
                                            <div class="single_related_post">
                                                <div class="srp_img"> <a href="blog-single-slider-post.html"> <img src="images/blogggg.jpg" alt="" /> </a> </div>
                                                <div class="rel_post_text"> <h5><a>LifeStyle</a></h5>
                                                    <p>Votre ambition n'a pas de limite</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ftm_newsletter">
                                            <h4>Newsletter</h4>
                                            <p>Inscrivez vous à notre newsletter et recevez gratuitement nos articles</p>
                                            <form action="/users/enroll_newsletter" method="post">
                                                <input type="hidden" name="href" id="href2">
                                                <input type="text" value="" placeholder="Adresse Email" name="email"/>
                                                <input type="submit" class="fm_newsletter" value="Submit"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="footer_top_right">
                                        <div class="ftr_video">
                                            <h4>video de la journée</h4>
                                            <div class="results_video embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" width="560" height="350" src="/images/woman.mp4" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class="ftr_tags">
                                            <h4>Tags</h4>
                                            <ul id="tag">
                                                <li><a href="#">Super Ambitieux</a></li>
                                                <li><a href="#">LifeStyle</a></li>
                                                <li><a href="#">Empowering</a></li>
                                                <li><a href="#">Love</a></li>
                                                <li><a href="#">RelationShip</a></li>
                                                <li><a href="#">Edito</a></li>
                                                <li><a href="#">Strong Woman</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer_bottom_box">
                            <p> &copy; COPY RIGHTS 2018 All Rights Reserved. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="user_login" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!--<div class="modal-header text-center">
                    <h5 class="modal-title text-center">Connexion Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 ml-auto mr-auto js-tilt" data-tilt>
                            <img src="/images/pro_logotype.png" alt="IMG">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 ml-auto mr-auto" >
                            <div class="social_header2 text-center">
                                <ul>
                                    <li><a href="" style="color:#0056b3">
                                        <i class="fab fa-facebook-f"> </i>
                                    </a></li>
                                    <li>
                                        <a href="" class="" style="color:#00ACED">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li><a href="" class="" style="color:#cc2127">
                                        <i class="fab fa-google-plus"></i>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 text-center">
                            <h5 class="text-muted" style="font-family: Arial, Helvetica, sans-serif !important;"> Or Be Classical</h5>
                        </div>
                    </div>
                    <div class="row">
                        <form method="post" action="/users/login" class="col-md-11 col-sm-11 col-xs-12 ml-auto mr-auto">
                            <div class="form-group">
                                <label for="user_nom">Email: </label>
                                <input type="email" class="form-control input-1" name="email" id="user_email">
                            </div>
                            <div class="form-group">
                                <label for="user_password">Password</label>
                                <input type="password" class="form-control input-1" name="password">
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary" style="border-radius: 0px; background-color: #B61D8D; border-color:#B61D8D;"> Connexion</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="user_register" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 mt-auto mb-auto">
                                <div class="info info-horizontal mb-3">
                                    <div class="icon icon-primary">
                                        <i class=""></i>
                                    </div>
                                    <div class="description">
                                        <h5 style="color:#4f2c84">Ambition</h5>
                                        <p class="text-black">
                                            Mettre en avant toutes les initiatives des femmes ambitieuses au travers d’interviews, reportages et articles de presse.
                                        </p>
                                    </div>
                                </div>
                                <div class="info info-horizontal mb-3">
                                    <div class="icon icon-primary">
                                        <i class="now-ui-icons media-1_button-pause"></i>
                                    </div>
                                    <div class="description">
                                        <h5 style="color:#B61D8D">LifeStyle</h5>
                                        <p class="text-black">
                                            Le Style de vie particulier et distingué de ces femmes. Astuces modes et beauté pour les plus élégantes.
                                        </p>
                                    </div>
                                </div>
                                <div class="info info-horizontal mb-3">
                                    <div class="icon icon-info">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </div>
                                    <div class="description">
                                        <h5 style="color:#DC3151">Love & Relation</h5>
                                        <p class="text-black">
                                            L’amour contribue également à notre épanouissement personnel, nous abordons des sujets édifiants de couples.
                                        </p>
                                    </div>
                                </div>
                                <div class="info info-horizontal">
                                    <div class="icon icon-info">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </div>
                                    <div class="description">
                                        <h5 style="color:#201E4B">Le Billet SAG</h5>
                                        <p class="text-black">
                                            Donner de la voix à notre communauté. Elle sert de livre ouvert à toutes celles qui voudront traiter d’un sujet, partager une expérience, une confession...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="card" style="border-color:#B61D8D !important;">
                                    <div class="card-img-top js-tilt text-center" data-tilt>
                                        <img src="/images/pro_logotype.png" alt="">
                                    </div>
                                    <div class="card-body">
                                        <div class="social text-center">
                                            <a href="" class="mr-2" style="color:#00ACED">
                                                <i class="fab fa-twitter fa-2x"></i>
                                            </a>
                                            <a href="" class="mr-2" style="color:#cc2127">
                                                <i class="fab fa-google-plus fa-2x"></i>
                                            </a>
                                            <a href="" style="color:#0056b3">
                                                <i class="fab fa-facebook-f fa-2x"> </i>
                                            </a>
                                            <h5 class="card-description mt-3"> or be classical </h5>
                                        </div>

                                        <form class="form" method="post" action="/users/register">
                                            <div class="form-group mb-3">
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                                        <span class="input-group-text"><i class="far fa-user"></i></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12 mr-auto ml-auto">
                                                        <input type="text" class="form-control input-1" placeholder="Noms..." name="noms">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mb-3">
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                                        <span class="input-group-text"><i class="far fa-user"></i></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12 mr-auto ml-auto">
                                                        <input type="text" class="form-control input-1" placeholder="Prenoms..." name="prenoms">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mb-3">
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                                        <span class="input-group-text"><i class="far fa-user"></i></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12 mr-auto ml-auto">
                                                        <input type="text" class="form-control input-1" placeholder="Pseudo..." name="pseudo">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mb-3">
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                                        <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12 mr-auto ml-auto">
                                                        <input type="email" class="form-control input-1" placeholder="Email..." name="email">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-1 col-sm-1 col-xs-12 mb-auto mt-auto">
                                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10 col-xs-12 mr-auto ml-auto">
                                                        <input type="password" class="form-control input-1" placeholder="Password..." name="password">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-footer text-center">
                                                <button type="submit" id="btn_register" class="btn btn-outline-primary">Inscription</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/tilt.jquery.min.js"></script>
    <script >
        $('.js-tilt').tilt({
            scale: 1.1
        });
    </script>

  </body>
</html>
