<div class="breadcumb_common_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_left">
                    <p>Super Ambitieux</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="breadcum_c_right">
                    <ul>
                        <li><a href="#">Acceuil  /</a></li>
                        <li><a href="#">{{type_article}}/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_news_wrapper_article">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="type_article_box">
                    <p class="text-center"> Super Ambitieux</p>
                </div>
                <div class="br_single_news" onclick="document.location= '/articles/{{this._id}}';">
                    <img alt="" src="/images/031214-b-real-are-you-entrepreneur-businesswoman-business-woman-computer....jpg">
                    <div class="br_single_text">
                        <span class="blue_hp_span">Super Ambitieux</span>
                        <h1 class="dark_hp_span"><a href="/articles/{{this._id}}">Juste Un Petit Test</a></h1>
                    </div>
                    <div class="br_cam">
                        <a class="fa fa-camera" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>