@font-face {
    font-family: Langdon;
    src: url('/fonts/Langdon.ttf.woff') format('woff');
}

@font-face {
    font-family: Renogare;
    src: url('/fonts/Renogare-Regular.otf') format('otf');
}

@font-face {
    font-family: "Tw Cen MT";
    src: url('/fonts/TCM_____.TTF') format('TTF');
}

body{
    font-family: Raleway, Renogare;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Amaranth', Renogare !important;
}

p{
    font-family: Raleway !important;
}

.pr-1 label{
    font-family: Amaranth, Renogare !important;
}

.carousel-item .br_single_news{
    height: 500px !important;
}

.cc_single_post .br_single_news{
    height: 500px !important;
}

.post_text p{
    font-family: Raleway,Renogare  !important;
    font-size: 15px !important;
    color: black !important;
    text-align: justify;
}

.post_text .post_inner p{
    font-family: Raleway ,Renogare  !important;
    font-size: 22px !important;
}

.part{
    height: 245px !important;
}

li[ data-target="#carousel-example-generic"]{
    background-color: #DC3151;
}

#nav {
    font-family: Amaranth, Renogare !important;
}
#nav li a{
    font-size: 12px !important;
}

.nav_lifeguide .sub_menu ul li a{
    font-family: Amaranth, Renogare !important;
    font-size: 12px;
}

.sub_menu li a {
    font-family: Amaranth, Renogare !important;
    font-size: 12px;
}

.left_fashion li a{
    font-family: Amaranth, Renogare !important;
    font-size: 14px !important;
    color: white !important;
}

.fashion_area .header_fasion{
    border-bottom: solid #4f2c84 5px;
}

.footer_top{
    background-color: #4f2c84 !important;

}

.footer_top p{
    color: white !important;
}

.footer_bottom{
    background-color: #B61D8D  !important;
}

.item .br_single_news .blue_hp_span{
    width: 200px !important;
}

.violet-text{
    color: #4f2c84 !important;
}

.dark-violet-text{
    color: #4f2c84 !important;
}

.dark_hp_span{
    background: rgba(255, 255, 255, 0.5);
    width: auto;
    padding: 10px ;
}

.dark_hp_span a{
    color: black !important;
}

.item .br_single_news .br_single_text{
    margin-bottom: 50px !important;
}

.follow_us_side h2{
    font-size: 20px !important;
    border-bottom: #B61D8D solid 2px !important;
}

.single_related_post h5{
    color: white;
}

.single_related_post h5 a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.sp_details > a{
    padding: 10px !important;
    background: #4f2c84 !important;
    height: auto;
    width: 200px;
}

.breadcumb_common_area{
    margin-top: 3rem;
}

.breadcumb_common_area p {
    color: #4f2c84 ;
    font-family: Amaranth !important;
    font-size: 18px !important;
}

.breadcum_c_right a{
    color: #4f2c84 !important;
    font-family: Amaranth !important;
    font-size: 16px !important;
}

.header_top{
    background-color: #B61D8D;
    border-bottom: 4px solid #4f2c84 ;
}

.mega_menu li a{
    font-family: Amaranth, Renogare !important;
}

.br_single_news img:hover{
    cursor: pointer;
}

.fs_news_left:hover{
    cursor:pointer;
}

.fs_news_right:hover{
    cursor: pointer;
}

.main_news_wrapper_article .br_single_news {
    height: 500px !important;
    border: 0.5px solid #B61D8D;

}

.follow_us_side .card .card-img-top{
    border-bottom: 1px solid #B61D8D !important;
}

.follow_us_side .card .card-body{
    background: #4f2c84;
}

.follow_us_side .card .card-body hr{
    background-color: #B61D8D;
}

.follow_us_side .card .card-body input[type='text']{
    border-radius: 0px;
}

.follow_us_side .card .card-body input[type='text']:focus{
    border-color:#B61D8D;
}

.follow_us_side .card .card-body button{
    background-color: #B61D8D;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.type_article_box{
    margin-top: 3rem;
    background-color: #4f2c84;
    padding: 10px;
    border-bottom: 5px #B61D8D solid;
    margin-bottom: 3rem;

}

.type_article_box p{
    font-size: 32px;
    font-weight: 200;
    text-transform: uppercase;
    color: white;

}

.type_article a{
    border-radius: 0px;
    background-color: #B61D8D;
    color:white;
    font-size: 24px;
}

.sp-comments-box .comms{
    border-bottom: 1px #eeeeee solid;
}

.sp-comments-box .reponse {
    width: 80%;
    margin-left: 3rem;
}

.comms + .row{
    margin-top: -2rem;
    float: top;
    display: none;
}

.comms + .row .col-md-6 .card .card-header{
    background-color: #B61D8D;
    color: white;
}

.comms + .row .col-md-6 .card .card-body input[type='text']{
    border-radius: 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}

.comms + .row .col-md-6 .card .card-body input[type='text']:focus{
    border-color: #B61D8D;
}

.comms + .row .col-md-6 .card .card-body textarea{
    border-radius: 0px;
}

.comms + .row .col-md-6 .card .card-body button{
    border-radius: 0px;
    background-color: #B61D8D;
    color: white;
    border-color: #B61D8D;
}

.comms + .row .col-md-6 .card .card-body textarea:focus{
    border-color: #B61D8D;
}

.sp-comments-box .row .col-md-6 .card .card-header a{
    float: right;
}

.sp-comments-box .row .col-md-6 .card .card-header a .fa{
    color: #4f2c84;
}

#auser_login:hover{
    color:#4f2c84 !important;
}

#auser_register:hover{
    color: #4f2c84 !important;
}

.contact1 {
    width: 100%;
    min-height: 100%;
    padding: 15px;

    background: #009bff;
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-contact1 {
    width: 1163px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
    width: 296px;
}

.contact1-pic img {
    max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact1-form {
    width: 390px;
}

.contact1-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}
input.input1 + .shadow-input1 {
    border-radius: 25px;
}

textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
    border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

.shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
}

.input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn i {
    margin-left: 7px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn:hover {
    background: #333333;
}

.contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}




/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
    .contact1-pic {
        width: 33.5%;
    }

    .contact1-form {
        width: 44%;
    }
}

@media (max-width: 992px) {
    .container-contact1 {
        padding: 90px 80px 88px 90px;
    }

    .contact1-pic {
        width: 35%;
    }

    .contact1-form {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .container-contact1 {
        padding: 90px 80px 88px 80px;
    }

    .contact1-pic {
        display: none;
    }

    .contact1-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container-contact1 {
        padding: 90px 15px 88px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.input-1:focus{
    border-color: #B61D8D;
}

.social_header2 ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.social_header2 ul li {
    display:inline-block;
}

.social_header2 ul li a {
    color: #4f2c84;
    display: block;
    font-size: 24px;
    padding: 0 10px;
}

#btn_register{
    border-color: #B61D8D;
    color: #B61D8D;
}

#btn_register:hover{
    background-color: #B61D8D;
    border-color: #B61D8D;
    color: #ffffff;
}

#profil_user{
    border-color: #B61D8D;
    color: #B61D8D;
    cursor: pointer;
}

#profil_user:hover{
    background-color: #B61D8D;
    border-color: #B61D8D;
    color: #ffffff;
}

.comments_form textarea:focus{
    border-color: #B61D8D;
}

.text-red{
    color: #DC3151;
}

.text-pink{
    color: #4f2c84 !important;
}

form .error {
    color: #ff0000;
}

.jssocials-share-link { border-radius: 50%; font-size: 12px;}

#editor{
    margin: 0;
    padding: 0;
    height: 400px;
    width: 912px;
}

.article_image{
    width: 50%;
    height: auto !important;
}


.purchase_sidebar_img{
    position: relative;
}

.purchase_overlay{
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    padding: 20px;
}


.purchase_sidebar_img:hover .purchase_overlay{
    opacity: 1;
}

.purchase_sidebar_img2{
    position: relative;
}

.purchase_overlay2{
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    background: transparent;
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    padding: 20px;
}


.purchase_sidebar_img2:hover .purchase_overlay2{
    opacity: 1;
}

.ov-description{
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: justify;
}

.overlay-description p{
    color: black;
    font-size: 13px;
}

.overlay-type h4{
    color: #B61D8D;
    font-size: 20px;
}
.overlay-type hr{
    margin-top: -5px;
    width: 100px;
    background-color: #4f2c84;
    height: 0.1rem;
}

.overlay-type p{
    color: black;
}
.overlay-description a{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline-color: transparent;
    border-color:#B61D8D;
    color: black;
}

.overlay-description a:hover{
    background-color: #B61D8D;
    border-color: #B61D8D;
}

*{
    outline-color: transparent !important;
}

.purchase_sidebar_img2:hover .purchase_overlay2 ~ div {
    opacity: 0;
}



